@using CGCWRegistration.Models;

@model IEnumerable<Question>

<h2>Questions</h2>

@foreach (var question in Model)
{
    <div>
        <h3>@question.QuestionText</h3>
        <ul>
            @foreach (var option in question.ResponseOptions)
            {
                <li>@option.ResponseOptionText</li>
            }
        </ul>
    </div>
}
