@{
    ViewBag.Title = "Home Page";
}

<main class="container text-center">
    <section class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h1 id="welcomeTitle">Welcome to CGCW!</h1>
            <p class="lead mt-3">If you're a new visitor, please register here:</p>
            <p><a href="/register" class="btn btn-primary btn-md">Register &raquo;</a></p>
        </div>
    </section>
</main>