@model CGCWRegistration.Models.ViewModels.UsersPageViewModel

@{
    ViewBag.Title = "Users";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div id="root"></div>
    <script src="~/wwwroot/js/bundle.js"></script>

    @*<script>
        const auth = sessionStorage.getItem('auth');
        if (!auth) {
            window.location.href = '/login';
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Your existing JavaScript logic here, if needed
        });
    </script>*@
</body>
</html>
