@model CGCWRegistration.Models.ViewModels.UserRegistrationViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.css" />
</head>
<body>
    <div id="register-root"></div>
    <script src="~/wwwroot/js/bundle.js"></script>

    <div id="app">
        <b-container class="bv-example-row">
            <b-row align-h="center">
                <b-col cols="12" md="10" lg="8">
                    <b-form @@submit.prevent="submitForm" novalidate>
                        @Html.AntiForgeryToken()

                        <b-card>
                            <b-card-title>Registration Form</b-card-title>
                            <b-card-body>
                                <b-form-group label="First Name:" label-for="input-firstName">
                                    <b-form-input id="input-firstName" v-model="user.firstName" placeholder="Enter first name" required></b-form-input>
                                    <div v-if="errors.FirstName" class="text-danger">
                                        <div v-for="error in errors.FirstName">{{ error }}</div>
                                    </div>
                                </b-form-group>

                                <b-form-group label="Last Name:" label-for="input-lastName">
                                    <b-form-input id="input-lastName" v-model="user.lastName" placeholder="Enter last name" required></b-form-input>
                                    <div v-if="errors.LastName" class="text-danger">
                                        <div v-for="error in errors.LastName">{{ error }}</div>
                                    </div>
                                </b-form-group>

                                <b-form-group label="Chinese Name:" label-for="input-chineseName">
                                    <b-form-input id="input-chineseName" v-model="user.chineseName" placeholder="Enter Chinese name"></b-form-input>
                                </b-form-group>

                                <b-form-group label="Sex:" label-for="select-sex">
                                    <b-form-radio-group id="select-sex"
                                                        v-model="user.sex"
                                                        required>
                                        <template v-slot="{ ariaDescribedby }">
                                            <b-form-radio v-for="option in [{ value: 'Male', text: 'Male' }, { value: 'Female', text: 'Female' }]" :key="option.value" :value="option.value">
                                                &nbsp{{ option.text }}
                                            </b-form-radio>
                                        </template>
                                    </b-form-radio-group>
                                    <div v-if="errors.Sex" class="text-danger">
                                        <div v-for="error in errors.Sex">{{ error }}</div>
                                    </div>
                                </b-form-group>

                                <b-form-group label="Occupation:" label-for="input-occupation">
                                    <b-form-input id="input-occupation" v-model="user.occupation" placeholder="Enter occupation"></b-form-input>
                                </b-form-group>

                                <b-form-group label="Age Range:" label-for="select-ageRange">
                                    <b-form-radio-group id="select-ageRange" v-model="user.ageRangeID" required>
                                        <template v-slot="{ ariaDescribedby }">
                                            <b-form-radio v-for="range in ageRanges" :key="range.Id" :value="range.Id">
                                                &nbsp{{ range.Range }}
                                            </b-form-radio>
                                        </template>
                                    </b-form-radio-group>
                                    <div v-if="errors.AgeRangeID" class="text-danger">
                                        <div v-for="error in errors.AgeRangeID">{{ error }}</div>
                                    </div>
                                </b-form-group>


                                <b-form-group label="Phone Number:" label-for="input-phone">
                                    <b-form-input id="input-phone" v-model="user.phoneNumber" placeholder="Enter phone number" required></b-form-input>
                                    <div v-if="errors.PhoneNumber" class="text-danger">
                                        <div v-for="error in errors.PhoneNumber">{{ error }}</div>
                                    </div>
                                </b-form-group>

                                <b-form-group label="Email:" label-for="input-email">
                                    <b-form-input id="input-email" v-model="user.email" type="email" placeholder="Enter email" required></b-form-input>
                                    <div v-if="errors.Email" class="text-danger">
                                        <div v-for="error in errors.Email">{{ error }}</div>
                                    </div>
                                </b-form-group>

                                <b-form-group label="Address:" label-for="input-address">
                                    <b-form-input id="input-address" v-model="user.address" placeholder="Enter address"></b-form-input>
                                </b-form-group>

                                <b-form-group label="Introduced by:" label-for="input-introducedBy">
                                    <b-form-input id="input-introducedBy" v-model="user.introducedBy" placeholder="Introduced by"></b-form-input>
                                </b-form-group>

                                <b-form-group label="Existing Member?">
                                    <b-form-radio-group v-model="user.existingMember"
                                                        required>
                                        <template v-slot="{ ariaDescribedby }">
                                            <b-form-radio v-for="option in [{ value: 'Yes', text: 'Yes' }, { value: 'No', text: 'No' }]" :key="option.value" :value="option.value">
                                                &nbsp{{ option.text }}
                                            </b-form-radio>
                                        </template>
                                    </b-form-radio-group>
                                </b-form-group>

                                <b-form-group label="Select Languages:">
                                    <b-form-checkbox-group v-model="user.selectedLanguageIds">
                                        <template v-slot="{ ariaDescribedby }">
                                            <b-form-checkbox v-for="lang in languages" :key="lang.Id" :value="lang.Id">
                                                &nbsp{{ lang.Name }}
                                            </b-form-checkbox>
                                        </template>
                                    </b-form-checkbox-group>
                                </b-form-group>

                                <div v-for="(question, qIndex) in questions" :key="question.QuestionId">
                                    <b-card>
                                        <template v-slot:header>
                                            <h4>{{ question.Question }}</h4>
                                        </template>
                                        <b-form-radio-group v-model="user.responses[qIndex].ResponseId">
                                            <template v-slot="{ ariaDescribedby }">
                                                <b-form-radio v-for="q in question.ResponseOptions" :key="q.Id" :value="q.Id">
                                                    &nbsp{{ q.Response }}
                                                </b-form-radio>
                                            </template>
                                        </b-form-radio-group>
                                    </b-card>
                                </div>
                            </b-card-body>

                            <b-card-footer>
                                <b-button type="submit" variant="primary">Register</b-button>
                            </b-card-footer>
                        </b-card>
                    </b-form>
                </b-col>
            </b-row>
        </b-container>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue/dist/bootstrap-vue.js"></script>
    <script>
        Vue.use(BootstrapVue);
        new Vue({
            el: '#app',
            data: {
                user: {
                    firstName: '',
                    lastName: '',
                    chineseName: '',
                    sex: '',
                    occupation: '',
                    ageRangeID: '',
                    phoneNumber: '',
                    email: '',
                    address: '',
                    introducedBy: '',
                    existingMember: '',
                    selectedLanguageIds: [],
                    responses: []
                },
                ageRanges: [],
                languages: [],
                questions: [],
                errors: {}
            },
            mounted() {
                console.log("Component Mounted")
                this.fetchAgeRanges();
                this.fetchLanguages();
                this.fetchQuestions();
            },
            methods: {
                fetchAgeRanges() {
                    axios.get('/ageranges')
                        .then(response => {
                            this.ageRanges = response.data;
                        })
                        .catch(error => {
                            console.error('Error fetching age ranges:', error);
                        });
                },
                fetchLanguages() {
                    axios.get('/languages')
                        .then(response => {
                            this.languages = response.data;
                        })
                        .catch(error => {
                            console.error('Error fetching languages:', error);
                        });
                },
                fetchQuestions() {
                    axios.get('/questions')
                        .then(response => {
                            this.questions = response.data;
                            this.initializeResponses();
                        })
                        .catch(error => {
                            console.error('Error fetching questions:', error);
                        });
                },
                initializeResponses() {
                    this.user.responses = this.questions.map(question => ({
                        QuestionId: question.Id,
                        ResponseId: null
                    }));
                },
                submitForm() {
                    console.log("Submitting");
                    axios.post('/Register', this.user)
                        .then(response => {
                            if (response.data.success) {
                                console.log(response.data.message);
                                this.resetForm();
                            } else {
                                this.errors = response.data.error || {};
                                console.log(this.error);
                            }
                        })
                        .catch(error => {
                            console.error('Submission error:', error);
                            this.errors = (error.response && error.response.data && error.response.data.errors) || {};
                            console.log("Error details:", this.errors);
                        });
                },
                resetForm() {
                    console.log("Resetting form");
                    this.user = {
                        firstName: '',
                        lastName: '',
                        chineseName: '',
                        sex: '',
                        occupation: '',
                        ageRangeID: '',
                        phoneNumber: '',
                        email: '',
                        address: '',
                        introducedBy: '',
                        existingMember: '',
                        selectedLanguageIds: [],
                        responses: this.user.responses.map(response => ({
                            QuestionId: response.QuestionId,
                            ResponseId: null
                        }))
                    };
                }
            }
        });
    </script>
</body>
</html>
